/* src/pages/MovieDetailPage/MovieDetailPage.module.css */
.container {
    padding: 20px;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .poster {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1em;
    margin-bottom: 10px;
  }
  .links{
    margin-top: 18px;
    display: flex;
    gap: 20px;
    text-decoration: underline;
    cursor: pointer;
    font-size: 18px;

  }
  .link {
    display: block;
    margin-top: 20px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }