
.container {
  margin: 10px auto;
  padding: 10px 20px;
}
 
    .title {
      font-size: 26px;
      width: 100%;
      height: auto;
      margin-bottom: 20px;
      text-align: center;
    }
    
    .titleCont {
      display: block;
      text-align: center;
      margin: 0 auto;  
      max-width: 560px;  
      padding: 0 10px;  
      box-sizing: border-box; }